.items__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > * {
    animation: .6s cubic-bezier(0.4, 0, 0.2, 1) fadeIn;
    animation-fill-mode: both;
    animation-iteration-count: 1;

    &:nth-child(1) { animation-delay: .2s; }
    &:nth-child(2) { animation-delay: .4s; }
    &:nth-child(3) { animation-delay: .6s; }
    &:nth-child(4) { animation-delay: .8s; }
  }
}

@keyframes fadeIn {
  from {
    display: none;
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

%text-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%font-500 {
  font-weight: 500;
}

.item {
  position: relative;
  background: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 0.75rem 0.1rem rgb(0 0 0 / 8%);
  transition: background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;

  &:hover {
    background: #F5EDFF;
  }

  input[type="checkbox"] {
    position: absolute;
    left: -100vw;

    &:checked {
      + .item__container .item__selected {
        transform: translateX(0rem);
        margin-left: 0;

        svg {
           animation: .6s cubic-bezier(0.4, 0, 0.2, 1) rotate;
        }
      }
    }
  }

  .item__container {
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .item__content {
      flex: 1 1 0;
      min-width: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding: .75rem 1.25rem;
      gap: 1rem;

      .item__info {
        min-width: 0;

        .item__name {
          @extend %text-wrap;
          @extend %font-500;
          margin-bottom: .1rem;
        }
        .item__desc {
          @extend %text-wrap;
        }
      }

      .item__price {
        @extend %font-500;
      }
    }
  }

  .item__selected {
    display: flex;
    width: 4rem;
    transform: translateX(4rem);
    margin-left: -4rem;
    justify-content: center;
    align-items: center;
    background: var(--accent-color);
    color: white;
    transition-property: transform, margin-left;
    transition: .6s cubic-bezier(0.4, 0, 0.2, 1);

    svg {
      width: 1.25rem !important;
      height: 1.25rem !important;
      animation: .6s cubic-bezier(0.4, 0, 0.2, 1) rotate-out;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-out {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}
