/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* BASE */
:root {
  --primary-color: #9356DC;
  --primary-transition: #c968db;
  --secondary-color: #FF79DA;
  --accent-color: #99E2D0;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-family: 'Shrikhand', cursive;
  font-weight: 500;
  margin: 0;
  display: inline-block;
}

.section__title {
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  background: #fff;
  box-shadow: 0 0 .5rem .25rem rgba(0,0,0,.1);
  z-index: 20;
}

.content {
  position: relative;
  flex-grow: 1;
}

.container {
  padding: 2rem 1rem 3rem 1rem;
}

.btn__gradient {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom right, var(--secondary-color), var(--primary-transition), var(--primary-color));
  background-position-x: 0;
  background-size: 200% 100%;
  color: white;
  border: 0;
  border-radius: 9999999px;
  padding: 1.25rem;
  font-weight: 500;
  transition-property: background-color, box-shadow;
  transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  cursor: pointer;
  box-shadow: .35rem .35rem .5rem .1rem rgba(0,0,0,0.1);
}

.btn__gradient:hover {
  background-position-x: 100%;
  box-shadow: .5rem .5rem .75rem .1rem rgba(0,0,0,0.15);
}

.like__button {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  display: inline-block;
}

.like__button input[type="checkbox"] {
  position: absolute;
  left: -100vw;
}

.heart__container {
  z-index: 1;
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.heart__container::before {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: "";
  box-sizing: border-box;
  margin: -1.75rem;
  border: solid 2.25rem var(--secondary-color);
  width: 3.5rem;
  height: 3.5rem;
  transform: scale(0);
}
.heart__stroke {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: #444;
  transition: fill 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s;
}
.heart__clip {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  clip-path: url(#heart-path);
}
.heart__clip::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: linear-gradient(to top right, var(--secondary-color), var(--primary-color));
  opacity: 0;
  transform: scale(0);
  transition: transform 0.15s cubic-bezier(.17, .89, .32, 1.49), opacity 0.15s cubic-bezier(.17, .89, .32, 1.49);
  transform-origin: center 60%;
}

.like__button input[type="checkbox"]:checked + .heart__container::before {
  animation: 1.2s cubic-bezier(0.21, 0.61, 0.35, 1) bubble .15s;
  will-change: transform, border-width, border-color;
}
.like__button input[type="checkbox"]:checked + .heart__container .heart__clip {
  animation: pulse 0.4s 0.15s cubic-bezier(.17, .89, .32, 1.49);
}
.like__button input[type="checkbox"]:checked + .heart__container .heart__clip::before  {
  transform: scale(1);
  opacity: 1;
 }
.like__button input[type="checkbox"]:checked + .heart__container .heart__stroke {
  transition-delay: .6s;
  fill: url(#gradient);
}


.footer {
  background: rgb(56,56,56);
  padding: 1.5rem;
}
.footer__logo {
  width: 40%;
  max-width: 196px;
  margin-bottom: 1rem;
}
.footer__logo, .footer__logo path {
  color: white;
  fill: white;
}

.footer__nav > li {
  list-style-type: none;
  margin-bottom: .5rem;
}

.footer__nav > li a {
  text-decoration: none;
  color: white;
}
.footer__nav > li a svg {
  margin-right: .5rem;
}

.footer__nav > li a:hover {
  text-decoration: underline;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1);
  }
}

@keyframes bubble {
  15% {
    transform: scale(1);
    border-color: var(--primary-color);
    border-width: 1.75rem;
  }
  30%, 100% {
    transform: scale(1);
    border-color: var(--primary-color);
    border-width: 0;
  }
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* sm */
@media (min-width: 640px) {
  .footer {
    text-align: center;
  }}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

